@{
    ViewData["Title"] = "Home Page";
}

@model ViewModel

<div class="text-center">
   
     <div class="row">
         <div class="col">DashBoard</div>
         <div class="col"><a href="Products">Products</a></div>
         <div class="col"><a href="Orders">Orders</a></div>
         <div class="col"><a href="Customer">Customers</a></div>
         <div class="col"><a href="#">Settings</a></div>
     </div>

        @foreach (Product a in @Model.AllProducts)
            {         
            <div style="display:inline-block;">  
               <div class="card" style="width: 15rem; ">
                    <img src="@a.Img" class="card-img-top" style="width :13rem; heigh: 10rem" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@a.Name</h5>
                        <p class="card-text">@a.Desc</p>
                        <p class="card-text">( @a.Qty left )</p>
                    </div>
                </div>
            </div> 
            }
             <p><a href="Products">Show More ...</a></p>

            <div class="container">
                <h3>Recent Orders</h3>
                        @foreach(var a in @ViewBag.AllOrd){
        
            <table class="table">
            @foreach(var b in @a.OrdersCustomer)
            {
            <tr>
                <td>@a.Name</td>
                <td>@b.SoldQty</td>
                <td>@b.Product.Name</td>
                <td>@b.CreatedAt</td>
            </tr>
            }        
            </table>
        }<p><a href="Orders">Show All Orders ...</a></p>
            </div>

        <div>
            <h3>New Customers</h3>

             @foreach( var a in @Model.AllCustomers)
        {
            <li>
            <tr>
                <td>@a.Name</td>
                <td>
                    
 <td>@Html.Label("", DateTime.Now.Subtract(@a.CreatedAt).Days.ToString()) Days ago</td>
 <td>@Html.Label("", DateTime.Now.Subtract(@a.CreatedAt).Hours.ToString())  Hours ago</td>
                </td>
            </tr>
            </li>
        }
        <a href="Customer">Show All Customers ...</a></p>
        </div>

</div>
